[2020-02-20 19:09] #206 closed

[2020-02-20 19:36] agahkarakuzu commented on #347
03b442c43fdb571f372bee039b158114808e88a5

[2020-02-20 19:36] #347 closed

[2020-02-20 19:51] agahkarakuzu commented on #377
fa99f0b97023dd768de45fce3c3b9221a28b5dda

[2020-02-20 19:51] #377 closed

[2020-03-16 16:27] MartinaBoshkovska opened #386 "Mistake in b1_dam map filtering documentation"
When navigating to https://qmrlab.readthedocs.io/en/master/b1_dam_batch.html, in the output of the qMRinfo('b1_dam') function, we can see a mistake in the application of the gaussian filter to the model. Line says: Model.Smoothingfilter_Type = '3D', but '3D' is not a type, it's a dimension.

This mistake is present in the b1_dam field mapping file as well.

![image](https://user-images.githubuserc

[2020-04-06 14:25] mathieuboudreau opened #387 "Actual Flip Angle Imaging (AFI)"
We could use this function from the repo I just made public from my PhD B1 paper as a template: https://github.com/mathieuboudreau/B1Paper_Analysis/blob/master/src/b1/fitDataAFI_es.m

It needs cleaning up, but it should be a quick model that we can include.

[2020-04-14 17:31] #386 closed

[2020-04-27 14:12] mathieuboudreau opened #389 "Upload/link conference abstracts/posters/etc"
We should host them on OSF or another repo in this organisation, and then link to them from the readme of this repo.

[2020-04-29 08:07] EmelineRibot opened #390 "R square maps"
Good morning, I would like to know if there is an option to obtain a R2 (R square) map from the VFA method, in order to evaluate the accuracy of the fit.

[2020-04-29 10:53] agahkarakuzu commented on #390
Hi @EmelineRibot, `vfa_t1` uses a linear least squares fitting to calculate `T1` and `M0`, so we can surely calculate R^2 from the residuals with:

`1 - (norm_R/norm(y - mean(y)))^2`

where `norm_R` is the norm of the residuals of the fitted slope and intercept and `y` contains the input data points.

I will quickly create a branch and implement it there and share with you.

[2020-04-29 12:21] agahkarakuzu commented on #390
@EmelineRibot maybe I should clarify my question, it really depends on the number of observations. If you have only 2 flip angles, R<sup>2</sup> for log-transformed linear fitting will  always equal to 1 (you can always fit a straight line perfectly to two data points).

So, if you have more than two observations, I will push the branch. If not, the implementation won't make sense as  R<sup>2</sup

[2020-04-29 12:56] agahkarakuzu commented on #390
Cool! I'll clean up the branch and push it in about 2hrs (have a meeting soon). If you can share an example dataset (agahkarakuzu@gmail.com), I can be more helpful :)

[2020-04-29 15:26] agahkarakuzu commented on #390
Hey again @EmelineRibot,  I've pushed a modified version of the `vfa_t1` model to the [rsquared branch](https://github.com/qMRLab/qMRLab/tree/rsquared). You can `pull` then `checkout` this branch or download as zip (downloaded file must have the name `qMRLab-rsquared.zip`).

If the number of flip angles are less than two, then only a map of **norm of residuals** will be saved (in both as `nifti` a

[2020-05-18 20:26] little-ear opened #392 "mono_t2 error and not included"
I am new to matlab (student version), new to github, and also new to qMRLab. Hopefully my report is valid and you can help me.

1) 'mono_t2' is not included in qMRLab-2.3.0. Thus, https://qmrlab.readthedocs.io/en/master/mono_t2_batch.html can not be executed as described.

2) Manual download and adding 'mono_t2.m' to 'qMRLab-2.3.0/src/Models/T2_relaxometry' does not work either: Following Error:

[2020-05-18 20:58] agahkarakuzu commented on #392
Hi @little-ear, `mono_t2` was added on release [`2.4.0`](https://github.com/qMRLab/qMRLab/releases), can you give it a try with that version? On the latest doc, you can use the binder badge on [`mono_t2`](https://qmrlab.readthedocs.io/en/master/mono_t2_batch.html) to try it out on your web browser.

Our documentation points to the latest (`master`), but now I am convinced that I'll build and push

[2020-05-18 21:03] agahkarakuzu commented on #392
And congrats on your first issue 🎊 :)

[2020-05-19 06:13] #392 closed

[2020-05-19 06:14] little-ear commented on #392
Indeed, in the lower right corner are the "versions" of the documentation and I missed to check it! Thank you.

[2020-05-26 17:35] mathieuboudreau commented on #387
This branch has been assigned to @jvelazquez-reyes .

Here's some additional details from our video call today:

**Papers**
* https://onlinelibrary.wiley.com/doi/epdf/10.1002/mrm.21120

**Model checklist**
* [ ] Create new model that fits AFI data
* [ ] (Optional) Create simulations from paper equations
* [ ] Add an option to Parallelise the voxelwise computation code if the user has multip CPU co

[2020-06-05 14:24] em-blue commented on #135
Hi @mathieuboudreau - I'm looking for construct B1 maps via the Bloch-Siegert method, is qMRLab working on this / is this something I should contribute?

[2020-06-05 14:31] agahkarakuzu commented on #135
@em-blue you are more than welcome to contribute, that would be a nice addition!

I am not sure if @mathieuboudreau have  started implementing it, which is definitely not an obstacle to coordinate.

[2020-06-05 19:21] mathieuboudreau commented on #135
Hi @em-blue !

Yes, this would be a great contribution!

As I mentioned in our DMs, I released the code for my B1 mapping paper recently, and the Bloch Siegert function is here: https://github.com/mathieuboudreau/B1Paper_Analysis/blob/master/src/b1/fitDataBSB1.m
* It'll need some refactoring, and probably some explanations/thinking about what some of the code does. My apologies for having "magic n

[2020-06-11 14:10] mathieuboudreau commented on #135
Hi @em-blue,

I uploaded one of my Bloch-Siegert datasets on OSF: https://osf.io/c9mqj/.

We should maybe open up a new issue for this, since this one is closed and unrelated to Bloch-Siegert now. Let us know if you have any questions or want to discuss more.

[2020-06-11 19:22] mathieuboudreau opened #394 "Bloch-Siegert B1 mapping module"
The idea for this module started off of a closed thread (https://github.com/qMRLab/qMRLab/issues/135#issuecomment-639528494)

I'll repeat the details and resources available that I mentioned there here.

I released the code for my B1 mapping paper recently, and the Bloch Siegert function is here: https://github.com/mathieuboudreau/B1Paper_Analysis/blob/master/src/b1/fitDataBSB1.m
* It'll need some

[2020-06-11 19:33] mathieuboudreau commented on #387
The AFI dataset has been uploaded here: https://osf.io/csjgx/

[2020-06-16 23:44] jvelazquez-reyes commented on #387
Hi Mathieu!

I created the b1_afi model and I tested it on the dataset you uploaded. With the Parallelize option off (and voxelwise=1) it works perfectly with GUI and CLI.

However, I haven't managed to complete a test with the Parallelize option. I tried the following with the Parallel Computing Toolbox from Matlab (R2017b):

- I distributed the arrays to work them with 4 local workers
- I also t

[2020-06-19 12:26] mathieuboudreau commented on #387
Great, thanks for the update @jvelazquez-reyes ! Yes, please push your branch as frequently as you can - that we can try it ourselves and give some input/assistance.

[2020-06-22 14:00] mathieuboudreau commented on #387
@jvelazquez-reyes thanks for pushing your branch. I created a pull request (#395) so that we can more easily track changes there as they get pushed. I recommend you do a `git pull` in your branch before making more changes, as we might push some changes too. We should move the discussion there for the time being.

Thanks!

[2020-06-24 13:56] mathieuboudreau opened #396 "[Wiki] Create model: qMRLab_static_Models.m not found"
Hey Agah,

 Is step 11 of the wiki deprecated? https://github.com/qMRLab/qMRLab/wiki/Guideline:-Adding-a-new-Model

qMRLab_static_Models.m is not in my path.

[2020-06-24 16:35] agahkarakuzu commented on #396
This is on `master`

https://github.com/qMRLab/qMRLab/blob/de27734b5b1a0874877c8b7135eb46c090d08a81/src/Common/qMRLab_static_Models.m

[2020-07-02 16:30] grlee77 opened #398 "extremely long run time for NODDI example/demo"
## Expected Behavior

As part of the JOSS paper review, I was running a few of the demos. Mostly, these worked as expected and finished within a fairly short time (seconds to a few minutes). The NODDI demo however ran for hours until I eventually terminated it.

## Current Behavior

I actually started the NODDI demo and forgot about it. I found that it was still running the following morning (at 1

[2020-07-02 16:54] agahkarakuzu commented on #398
@grlee77 thank you for the feedback! Indeed, data fitting with the `noddi` model takes pretty long. This is the reason why we also included an [accelerated implementation (AMICO)](https://qmrlab.readthedocs.io/en/master/amico_batch.html) of the `noddi`.

In general, we don't performance claims, especially for complex models such as `qMT`.  We have performance improvement plans for future releases,

[2020-07-02 17:08] grlee77 commented on #398
Sure, no problem. I just wanted to give a heads up in case this was unexpected or I was just doing something wrong on my end. I agree that having an open implementation that gives reasonable results is the appropriate first step and performance can always be improved as needed going forward.

[2020-07-03 18:57] mathieuboudreau commented on #398
@agahkarakuzu Maybe instead of doing a continuous update of the progress during the for loop (which I'm against, it's slow and has been difficult to maintain for both GUI and command line), we could just fit a few voxels and provide the user with an estimated processing time for the entire dataset? Or, (even better), we could time each processing time for all the demo datasets, and give those numb

[2020-08-04 18:18] annapbarnes opened #401 "VFA_T1 fit error when using B1map"
## Expected Behavior
Produce sensible T1map when loading in 4D VFA nifti file + B1map nifti file.

## Actual Behavior
T1map has a lot of NaN voxel values and the voxel fit looks terrible even though the values from the T1 images follow the expected signal change.

Is there something wrong with my B1 map and how can I tell?

## Steps to Reproduce the Problem

  1. Fit data with B1 map - error occur

[2020-08-04 18:33] annapbarnes opened #402 "How do I create a batch script for VFA_t1 for many subjects"
## Expected Behavior
model=vfa_t1; % create an instance of the model
qMRgen Batch (model)

## Actual Behavior

Undefined function or variable 'qMRgen'.

## Steps to Reproduce the Problem

  1. typed in at command line following instructions on https://qmrlab.readthedocs.io/en/master/batch_example.html?highlight=batch#run-the-batch
  1. I'd like to run this on 30 data sets. all with the same FAs an

[2020-08-04 18:38] annapbarnes opened #403 "problems with GUI on Matlab R2015b OSX Catalina"
problems with GUI on Matlab R2015b OSX Catalina

## Expected Behavior
use arrow buttons to move through volumes in 4D image
use mouse to window, zoom or pan

## Current Behavior
arrow buttons do not scroll through 4D image
cannot get out of whichever mode the mouse was clicked into eg can't stop the windowing, pan or zoom unless I restart the application.

## Possible Solution

probably a matlab X

[2020-08-05 10:37] agahkarakuzu commented on #402
@annapbarnes the function call should be:

[code]

I see that in the documentation there is an extra space between `qMRgen` and `Batch`, I will fix this asap.

You can see a working example (online) here:

https://mybinder.org/v2/gh/qMRLab/doc_notebooks/master?filepath=vfa_t1_notebook.ipynb

[2020-08-05 10:40] agahkarakuzu commented on #401
@annapbarnes can you please use version 2.4.0 and see the issue persists?

 We resolved some GUI bugs causing the problems you reported.

[2020-08-05 10:41] agahkarakuzu commented on #403
With qMRLab version `v2.4.0`, R2015b on OSX Mojave, I am not running into this problem. Can you try with the newer qMRLab version?

[2020-08-05 10:47] agahkarakuzu commented on #402
Interesting, the documentation is correct when I visit the documentation:
![image](https://user-images.githubusercontent.com/9632322/89403986-3a2c6980-d6e7-11ea-8ace-d026415d4678.png)

But when  I click the link you sent that highlights `batch`,  there is a mysterious space between the `qMRgen` and `Batch`, which is normally not there :

![image](https://user-images.githubusercontent.com/9632322/8

[2020-08-05 12:35] annapbarnes commented on #401
FYI when I click on the link from the how to install page I get a "not found" error
https://github.com/qMRLab/qMRLab/releases/latest/download/qMRLab_latest.zip

[2020-08-05 12:38] agahkarakuzu commented on #401
Please try:

https://github.com/qMRLab/qMRLab/archive/v2.4.0.zip

Did we point to that link for the latest release? If so, I'd be happy if you can tell me where did you click that link and I'll update it.

[2020-08-05 12:40] annapbarnes commented on #401
oh yes sorry

https://qmrlab.readthedocs.io/en/master/install.html

Then a little bit down it says

Download the latest stable release **here**.
Scroll down to the page, download links are under the Assets tab.
Extract the downloaded .zip or .tar.gz file to a directory of your choice.

[2020-08-05 12:40] #401 closed

[2020-08-05 12:55] annapbarnes commented on #403
fixed 👍

[2020-08-05 12:55] #403 closed

[2020-08-05 12:55] annapbarnes commented on #402
fixed 👍

[2020-08-05 12:55] #402 closed

[2020-08-05 13:05] annapbarnes commented on #401
oh and also from this page
https://qmrlab.org

download button goes to 2.3.0 which is what I downloaded first time.

[2020-08-05 13:07] agahkarakuzu commented on #401
Thank you @annapbarnes I will make that link update a part of the release process.

[2020-08-10 09:54] annapbarnes opened #404 "How do I run vfa_t1 on all the data sets in my directory"
## Expected Behavior
vfa1_t1_batch from CL

## Actual Behavior
via_t1_batch from CL only runs on first 4D data set

## Steps to Reproduce the Problem

  1. put 1 4D image in directory runs OK
  1. put another 4D image in directory with added ID - error message saying wrong filename (obviously)
  1. Do I have to write my own loop inside the Matlab script or do you have one setup already

## Specifi

[2020-08-10 10:23] agahkarakuzu commented on #404
@annapbarnes the script generated by `qMRGenBatch` is for one dataset only. You will need to wrap that in a simple loop to deal with other images, which are favorably nicely organized in multiple folders.

[2020-08-10 10:24] annapbarnes commented on #404
Thank you - I guessed as much - just wanted to make sure I wasn't re-inventing the wheel.

[2020-10-20 13:40] agahkarakuzu opened #408 "OSX quarantined mex files"
I received an email from a user that she could not start qMRLab. I figured that it was because OSX (Catalina 10.15.7) quarantined mex files.

[code]

This solved the problem, I will add this to the documentation under a new section (`Known Issues`) under Installation.

[2020-10-20 15:45] mathieuboudreau commented on #408
Wait, what? The latest OSX version quarintined all the mex files on systems?

[2020-10-20 16:03] agahkarakuzu commented on #408
They could not help but quarantine something in 2020. Interestingly, I had the exact same MATLAB and OS versions with the user, but I did not run into this issue. All I know is that Catalina is not being a research friendly release so far, and Big Sur does not make things better.

[2020-10-20 16:05] spinicist commented on #408
It may depend on how the user downloads qMRLab. As I understand it, Safari does the quarantining rather than something at OS level. Certainly, if people download QUIT via Safari it gets quarantined, but if they use `curl` it doesn't. I've just realised I haven't tried downloading QUIT via Chrome, I should try that and see what happens.

[2020-10-20 16:14] agahkarakuzu commented on #408
@spinicist thanks! That makes sense, I always use git, probably why I bypassed this issue (similar to curl does, I guess). It is worth experimenting safari/chrome downloads and add them into documentation. At any rate, making quarantine decision based on through which channel they are downloaded rather than what is downloaded almost sounds like a fallacy.

[2020-11-20 21:12] notZaki opened #412 "Migrating tests from TravisCI"
The current tests are using travis-ci **.org** which will be closed down by the end of the year [[ref]](https://docs.travis-ci.com/user/migrate/open-source-repository-migration#q-when-will-the-migration-from-travis-ciorg-to-travis-cicom-be-completed).

The tests can be migrated to travis-ci **.com** however, from what I understand, it is no longer free. They now offer a free trial with 1000 minute

[2020-11-20 21:18] mathieuboudreau commented on #412
Huh - thanks for letting us know!

Looks like we might need to switch to a self-hosted service then =( @agahkarakuzu thoughts? Also @jcohenadad were you aware?

[2020-11-21 09:27] spinicist commented on #412
My two pence - Github actions are great! I have no idea how well they play with Matlab, but having used Travis, Azure Pipelines and Github Actions I found actions the easiest by far.

[2020-11-21 13:00] jcohenadad commented on #412
yes [we are](https://github.com/neuropoly/spinalcordtoolbox/pull/2739#issuecomment-640671269), and currently debating where should we go. Our other projects are on Github actions and we love it but SCT has a lot of Travis-specific  CI code (notably to set up all the platform via custom docker images).

[2020-11-22 01:48] agahkarakuzu commented on #412
Octave [MoxUnit GH Action](https://github.com/marketplace/actions/moxunit-action) is using qMRLab's env:

https://github.com/joergbrech/moxunit-action/blob/f02a706db8a4db8e311041bd8d6853a559001d29/Dockerfile#L2

So GH is pretty straightforward, but this is a good opportunity to branch another one for MATLAB on Azure's new add-on. We also need to consider timeout limits.

[2020-12-21 18:42] agahkarakuzu opened #414 "Update base for Docker envs and Octave"
In the next release, I will update Octave version to `5.2.0` sourced from the `ppa` coming with Ubuntu `20.04` included in  base image `neurodebian:focal`.

In addition to the `qmrlab/minimal` , release workflow will build and push `qmrlab/test` to be used by GitHub actions.

[2021-01-04 01:46] twu3565 opened #415 "How to get qMT mask by original DATA?"
## Expected Behavior
Teach me the process to create mask by original DATA, what kind software or batch can achieve the MASK?

## Actual Behavior
I am studying the qMT and we are trying to create the MASK to accelerate the qMT reading.
But I am stuck in use original DATA to create the MASK.
So far I am use ImageJ open the DICOM image draw a loop then clear outside.
But ImageJ cannot output DATA as

[2021-01-04 02:04] agahkarakuzu commented on #415
Hi @twu3565, assuming that you are processing brain data, you may want to consider brain extraction tools. You can use one of your qMT images as input for example, to [FSL's BET](https://fsl.fmrib.ox.ac.uk/fsl/fslwiki/BET/UserGuide). This would give you a brain mask in the same domain (in nifti format), that you can use as an input. There is a threshold ([0-1] ~0.45 by default afaik) that you can

[2021-01-04 02:57] twu3565 commented on #415
Thank you for your fast response.
Yes, we are trying to reconstruct Brain qMT now but we did focus on Calf muscle so your advice is pretty useful.
I will try to use FSL's BET ASAP and post the result.
You give me a pretty good direction.
Thanks again
And Happy New Year

TI WU

[2021-01-04 03:43] agahkarakuzu commented on #415
@twu3565 I saw several papers using CNN to segment leg muscles (they were usually thigh, but there would be some for calf ). However, not sure if they publicly shared trained models and whether the contrast/resolution characteristics would be a good fit for the msk data you are going to acquire.

A few years ago I was using a custom morphometry-based script to do background segmentation for calf m

[2021-01-04 05:46] twu3565 commented on #415
Thanks, I'll check it out!

On Mon, Jan 4, 2021 at 11:44 AM Agah <notifications@github.com> wrote:

[2021-01-09 01:33] twu3565 commented on #415
Good Evening

I read the message you send to me and have other questions.

I believe you know my Chair Professor Usha, and we are trying to study qMT
based on the paper "Quantitative Magnetization Transfer in In Vivo Healthy
Human Skeletal Muscle at 3T" published in 2010.

Do you have some suggestions for further references?

We are facing the fraction we made are around 2-3% but paper can show
ar

[2021-01-09 03:43] agahkarakuzu commented on #415
@twu3565 I am aware of the underestimation issue you are having. To help solve this, McGill site will share a pulse sequence. The example brain data you are working on is acquired there.

Afaik Sinclair's work is the most comprehensive exploration of qMT in skeletal muscle.

FSL can easily work with nifti files. In your case the `qmt.nii` has 11 scalars, which may confuse BET.  I resampled/cropped

[2021-01-09 19:02] #415 closed

[2021-01-09 23:20] jcohenadad opened #416 "Twitter count doesn't seem right"
The Twitter badge on the README points to another project than qMRLab:

We should probably replace
[code]

By
[code]

[2021-01-10 02:32] agahkarakuzu commented on #416
Thank you @jcohenadad I'll fix this.

[2021-01-10 16:53] little-ear opened #417 "Error in fitting mono_t2, returning undefined values at initial point (lsqnonlin)."
I am using the mono_t2 model (cli) to fit almost the whole FOV. In addition, I have a lot of samples to test with small variations.
Thus, I was hoping to be able to fit the whole data set at once without the need to define a mask (time constrains).

When starting the fitting process, I get the following error:

When fitting the T1 IR model, it works flawlessly (also without mask).

May I ask anoth

[2021-01-10 18:31] agahkarakuzu commented on #417
@little-ear I noticed that when the solver cannot find the solution for the very first voxel (`[1, 1, 1]`), this creates an exception, which is a bug we'll address. For any other voxel w/o solution, the fit will carry on by indexing them. In the short term, you would not run into this issue using a mask.

`inversion_recovery` is not subjected to the same exception, as it is not using `lsqnonlin` f

[2021-01-11 20:15] nekohayo commented on #416
PR 418 respectfully proposed

[2021-01-11 20:19] agahkarakuzu commented on #416
Thank you @nekohayo, I merged your PR.

[2021-01-11 20:19] #416 closed

[2021-01-12 05:52] agahkarakuzu opened #419 "Manage matlab version for javacomponent"
MATLAB is [going to](https://www.mathworks.com/products/matlab/app-designer/java-swing-alternatives.html?s_tid=pi_app_designer_R2019b_javaframe) stop supporting `javacomponent` functionality in future releases.

Currently this is used by `attachScrollTo` function that allows scrollable data panel. According to mathworks, the `scrollable` property has been introduced in `R2018b`. To keep the versio

[2021-01-12 06:08] #408 closed

[2021-01-12 07:28] agahkarakuzu commented on #417
@little-ear I pushed a bugfix for your issue, available at the `fit_exception` branch. I'll wait on integration tests before merging it to the master. Thank you for reporting this problem!

[2021-01-12 09:11] little-ear commented on #417
@agahkarakuzu
Thank you for the fast bugfix. I tried it and it seems to run smoothly now.
However, I also noticed something else: Only 1 of my 8 cores were working on the fitting (100%; rest unter 10%).

I saw the following posts on mathworks :
https://www.mathworks.com/matlabcentral/answers/68005-is-it-possible-to-perform-parallel-computing-with-lsqnonlin
https://www.mathworks.com/help/optim/ug/l

[2021-01-12 16:39] agahkarakuzu commented on #417
@little-ear parallelization of the voxelwise fit tasks is not easily possible because of the way indexes are sorted currently. Besides, changing to parallel loops requires choosing the right strategy (there are several in Matlab) to minimize overhead. I have an idea to implement this at a higher level, where fit calls can be evoked in a shamelessly parallel way. You'll be first to know when I comp

[2021-01-13 06:01] agahkarakuzu commented on #417
@little-ear now on the [`distribute`](https://github.com/qMRLab/qMRLab/tree/distribute) branch, you can give parallel processing a try! It goes parallel if parallel workers exist. So, you can just

[code]

on the command window, then fit.

Let me know how it goes!

[2021-01-13 06:11] agahkarakuzu commented on #417
BTW, I did not try this from the CLI, but using FitDataPar instead of FitData may work.

[2021-01-13 06:15] agahkarakuzu commented on #417
- [ ] Add documentation about cli access to prots and options.
- [ ] Test and add documentation about parfit (this is a better name) on CLI.
- [ ] MapData can split inputs across cores based on histogram, the more evenly fg/bg voxels are distributed across workers, the more efficient parallelization becomes.

[2021-01-13 13:35] little-ear commented on #417
@agahkarakuzu
I started `parool` in the command window.
Then i ran my code (see above) with the following changes:
`FitResults = FitDataPar(data,Model);`

However, I get the following error:
=============== qMRLab::Fit ======================
<< i >> Operation has been started:  mono_t2
<< :: >> Parallel:  8 workers
<< - >> Modal windows have been disabled
<< ! >> Temporary result saving has not be

[2021-01-13 14:30] agahkarakuzu commented on #417
Probably one of the cores hit bg voxels only, I'll fix it. Thank you! Do you get the same error using GUI? You can save your reduced input matrix as a mat file (containing only the input image), then load into **SEData** from GUI.

[2021-01-13 16:43] agahkarakuzu commented on #417
OK based on what I thought the issue would be, I pushed a commit c9bb25086d6d9e9bbde52694296a1cace6ab42dc. If it does not solve your issue, seeing the entire trail of the error you get would be helpful.

[2021-01-13 21:49] agahkarakuzu opened #421 "Update MoxUnit"
Following [Matlab's change](https://www.mathworks.com/help/matlab/release-notes.html?rntext=&startrelease=R2016a&endrelease=R2016a&groupby=release&sortby=descending&searchHighlight=) to remove support for external access to other scripts subfunctions, Octave `6.0+` reflected the same changes.

This breaks compatibility with the current `MoxUnit` version we have. The latest `MoxUnit` fixes this iss

[2021-01-13 22:12] agahkarakuzu commented on #414
Ensure package compatibility. There is a weird `lsqnonlin` issue emerging:

[code]

which has to do with the struct package.

[2021-01-13 22:16] agahkarakuzu commented on #414
Reinstalling the `struct` package resolved this issue... which is important to consider along with #421.

[2021-01-13 22:18] agahkarakuzu commented on #414
The same happened with `bwconncomp` from `image` package.

[2021-01-13 22:27] agahkarakuzu commented on #421
Another compatibility alert:

[code]

[2021-01-13 23:40] jvelazquez-reyes commented on #414
The tests passed for Octave 5.2.0 with these pack versions:

[code]

[2021-01-14 04:41] agahkarakuzu commented on #421
#422

[2021-01-14 04:41] #421 closed

[2021-01-14 04:47] agahkarakuzu commented on #412
@notZaki Azure self-hosted agents is a really cool & viable option as long as you can maintain a machine for that. Microsoft hosted agents offer all the matlab features (but transformation and compiler products) for public projects. You can see an example [here](https://dev.azure.com/neuropoly/qMRLab/_build/results?buildId=1008&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9). There are some hicc

[2021-01-14 04:49] #404 closed

[2021-01-14 04:52] agahkarakuzu commented on #396
This is now clear on the wiki page.

[2021-01-14 04:52] #396 closed

[2021-01-15 14:32] little-ear commented on #417
Sorry for my late reply; I had to do some MR measurements ;)

Results from GUI processing only (step by step):

Here is my phantom (screenshot)
![wholephantom](https://user-images.githubusercontent.com/59336624/104738232-8aebc800-5745-11eb-88be-3b09165dd864.png)

1) I activated Parallel Pool (open matlab; in the standard view, in the lower right corner 'Start Parallel Pool'; However, I adjusted in

[2021-01-15 14:53] agahkarakuzu commented on #417
This is a pretty cool phantom @little-ear! Progress bar in a model window is disabled on purpose to keep worker jobs isolated.

I will look into the issue you had, fitting completes successfully but looks like there is a bug while parsing data from workers back into the original domain. The data you uploaded will be of great help!

Cheers

[2021-01-17 06:10] agahkarakuzu commented on #417
@little-ear I fixed the bugs causing those issues, thank you so much for sharing your data! I am working on finalizing temporary result saving functionality, I'll merge this branch when it is ready.

[2021-01-17 06:47] agahkarakuzu commented on #417
Before I forget, T2 values are now in seconds to follow a data standard.

[2021-01-17 14:57] agahkarakuzu commented on #417
Leaving this here as a funny demonstration of transitivity of floating point precision. Stripe-patterns are introduced by multicore processing the remaining portion of (~30%) autosaved data, which was again, saved in a multi-core process:

![image](https://user-images.githubusercontent.com/9632322/104846694-cdc6b080-58a9-11eb-84a7-8b11deafc7a3.png)

[2021-01-18 06:57] agahkarakuzu commented on #417
Okay, this branch is about to be finished. I think I solved all the issues above (including that stripes). Now ParFitData save has `autosave` (every 5 min) functionality!

[2021-01-18 20:12] #417 closed

[2021-01-19 01:03] agahkarakuzu commented on #300
Now that we have a MATLAB CI, I'll give this another go:

![image](https://user-images.githubusercontent.com/9632322/104974976-6c94ff00-59c7-11eb-8b8f-e7629a0e570b.png)

- [ ] Update OSF image with the default filtering option `polynomial`. Currently `median` is on OSF

![image](https://user-images.githubusercontent.com/9632322/104975089-aebe4080-59c7-11eb-8d22-e34f5249d605.png)

![image](https://

[2021-01-21 03:37] agahkarakuzu commented on #412
This is done, Mathworks did a pretty good job with the Azure extension! I added the badge in README, you can see the builds.

[2021-01-21 03:37] #412 closed

[2021-01-21 03:38] agahkarakuzu commented on #387
CI test passes and secured with assertion checks. I matched the OSF data with the default (polynomial) filtering mode. Thank you @jvelazquez-reyes for the work!

[2021-01-21 03:38] #387 closed

[2021-01-25 03:59] #300 closed

[2021-01-25 03:59] agahkarakuzu commented on #300
#426

[2021-02-10 15:29] mathieuboudreau opened #429 "Apple M1 chip compatibility"
Since I just got a new MBP with the Apple M1 chip, I thought I'd open an issue discussing my experience and for anyone else to also chime in if they encounter issues.

Computer: MacBook Pro (13-inch, M1, 2020)
CPU: Apple M1
MATLAB version:  MATLAB R2018b

Overall, qMRLab seems to work as intended with MATLAB run with the Rosetta 2 interpreter (automatically, I didn't need to specify it). Note that

[2021-02-10 19:32] agahkarakuzu commented on #429
Great news @mathieuboudreau ! Happy that you were able to get the license manager work for you :)

[2021-02-23 01:52] agahkarakuzu commented on #1
Building documentation....

[2021-02-24 03:27] agahkarakuzu commented on #378
#428

[2021-02-24 03:27] #378 closed

[2021-02-24 03:27] agahkarakuzu commented on #414
#431

[2021-02-24 03:27] #414 closed

[2021-02-24 03:29] agahkarakuzu commented on #194
#431 `doc` files are no longer in the repository and big binaries are gitignored. A clone of depth 1 now downloads a repo of decent size.

[2021-02-24 03:29] #194 closed

[2021-02-25 20:26] maf88 opened #433 "Multi-angle QSM model"
I'd like to be able to create QSM maps from a multi-angle acquisition, such as the COSMOS algorithm. We can supposed that the acquisition were already been aligned.

[2021-02-25 20:52] agahkarakuzu commented on #433
Source code is available on Berkin Bilgic's software page for COSMOS:

https://martinos.org/~berkin/software.html

This would require adapting it as a qMRLab module first.

[2021-03-17 16:07] agahkarakuzu opened #436 "Model-based MTsat B1 correction"
This is a pretty cool method to determine `MTsat` correction factor, which appears to be important for ihMT processing. I had a meeting with C. Tardif's post-doc Chris, who is in the process of publishing this work:

https://github.com/TardifLab/MTsatB1correction

We could refactor this code for qMRLab at some point.

[2021-03-28 00:10] Danirid opened #438 "GUI and CLI are giving different results"
**Quick summary**
I have been using qMRLab for the past 4 months especially the qsm_sb Model. Recently, I've been interested in the batch code, so I tried to reconstruct my data using this code, but the results were different from GUI.

**Expected Behavior:**
I expected that the GUI and the batch code will give the same results.

**Current Behavior:**
The  Reconstruction of QSM image using the bat

[2021-03-28 09:41] tanguyduval commented on #438
Hi danirid,

I suspect the use of `load_nii_untouch` to be the cause of the dissimilarity.

Can you try with `load_nii_data` instead. That forces the orientation of the image to be LPI.

Best
Tanguy

[2021-03-28 15:17] Danirid commented on #438
@tanguyduval it worked thank you so much

Daniel

[2021-03-28 16:15] agahkarakuzu commented on #438
Thank you @tanguyduval!

@Danirid please feel free to close this issue if you don't have other questions. Thank you for reaching out 🙂

[2021-03-28 16:18] #438 closed

[2021-04-07 17:49] mathieuboudreau opened #439 "Inversion Recovery: Single Voxel Curve does not update T1 in simulations"
Bug discovered by @zrazi

[2021-04-07 18:28] mathieuboudreau commented on #439
If you do a simulation with a T1 value, it will always only simulate the curve for T1 = 600ms no matter what T1 value you give.

[2021-04-07 21:22] mathieuboudreau commented on #439
@zrazi - I just checked on the latest version on the master branch (Release v2.4.2) and the behaviour is working as expected. It's possible that you forgot to click on the "Update input variables" after changing your T1 value but before clicking "Update fit".

<img width="811" alt="Capture d’écran 2021-04-07 à 18 49 46" src="https://user-images.githubusercontent.com/1421029/113936372-3e5ada80-97d2

[2021-04-07 21:22] #439 closed

[2021-04-08 02:42] zrazi opened #440 "sequence/parameters optimization"
How would you optimize your sequence/parameters for T1/T2 mapping using IR for different T1/T2 series? What would you set up as your ground truth? What is the best way  #to evaluate your model afterward quantitively?

[2021-04-14 16:25] jcohenadad opened #441 "Make qMRLab an official BIDS App"
Why would we do that? to gain visibility

More info on BIDS App --> https://bids-apps.neuroimaging.io/

[2021-04-14 16:47] mathieuboudreau commented on #441
I think our biggest hurdle is that we can't dockerize MATLAB software, can we? Or at least, there's something finicky about asking the users to manually find the license file and give permission to the Docker container to use it.

This might be more feasible for [pyqmrlab](https://github.com/qMRLab/pyqmrlab/tree/mb/dev), if I or one of Nikola's future students continue developing it.

Unless we ma

[2021-04-14 16:52] agahkarakuzu commented on #441
We can, an we actually are doing that automatically at each release:

The app is compiled with GUI as entrypoint, compiled app is pushed to `Standalone/Ubuntu` folder on [osf](https://osf.io/tmdfu/) with the release tag, and docker images are built & pushed to [DockerHub](https://hub.docker.com/r/qmrlab/mcrgui).

The only missing link to achieve this for BIDS was having a CLI interface, which now

[2021-04-14 16:53] mathieuboudreau commented on #441
Ah right, I forgot about the compiled versions you released! Thanks for clarifying Agah!

[2021-04-22 17:02] mathieuboudreau opened #443 "Create non-linear fitting option for VFA"

[2021-04-23 13:57] JoeNYC1 opened #444 "Pre-processing features"
Can you please elaborate how or which pre-processing tools best suits qMRLab. I am interested in longitudinal studies and would like to know if there is registration, template/atlas matching features available.
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
1.
1.
1.

## Context (Environment)

## Detailed Description

## Possible Implementation

[2021-04-23 15:07] agahkarakuzu commented on #444
Hi @JoeNYC1 we have some workflow modules that incorporate [`ANTS` ](https://www.nitrc.org/projects/ants) for alignment. I assume that you'd like to use atlases? It is possible to incorporate any software/process to the mix. Which qMRI model would you like to use?

[2021-04-23 15:14] JoeNYC1 commented on #444
Thank you very much for your reply. I am actually planning to use qMRI framework to perform longitudinal studies of tumor metastasis in the pelvic bone (I am sorry if this seems outside of the more standard use of the software but the many modules make it an attractive choice). Given the variability within the population, each person serves as their own reference – so volumes would be co-registere

[2021-04-23 15:31] agahkarakuzu commented on #444
qMRI for pelvic bone imaging sounds cool, nothing to be sorry about :)

OK, in your case, I think, you'd like to perform some volume alignment between qMRI input pairs (e.g. multiple flip angle images). Given the anatomy, I don't have much experience. How much your input pairs suffer from respiratory motion would be a good factor to consider. But if you have a preferred tool, we can bring it in.

[2021-04-26 17:43] JoeNYC1 commented on #444
Thank you very much for your help.

What might be the best way to learn how qMRI interfaces with BIDS. I am not familiar with BIDS.

Elastix is the software which would be most helpful. A matlab wrapper is available so I can stay within the matlab environment.

My plan is to merge features of qMRI with sc toolbox: for longitudinal analysis, I would like to use the features provided by sc toolbox (

[2021-04-29 15:48] JoeNYC1 commented on #444
Can I just follow up on one question?

Is there a way to connect qMRI capabilities with spinal cord toolbox? Would this need to be done with the python implementation of sc toolbox or with the older matlab version?

Thank you very much.

From: Mazaheri Tehrani, Yousef/Medical Physics
Sent: Monday, April 26, 2021 1:43 PM
To: qMRLab/qMRLab ***@***.***>
Subject: RE: [EXTERNAL] Re: [qMRLab/qMRLab] Pre

[2021-04-29 15:55] agahkarakuzu commented on #444
That'd be also helpful if you can respond from GitHub instead of email :)

[2021-04-29 15:58] JoeNYC1 commented on #444
Ok. thank you very much.

[2021-04-29 16:07] jcohenadad commented on #444
You can call SCT as a UNIX command from Matlab using the `unix()` function. [Here](https://spinalcordtoolbox.com/en/latest/user_section/installation.html#matlab-integration-on-mac) is a tip if you are using a mac, and [here](https://github.com/neuropoly/spinalcordtoolbox/issues/405) is a conversation from a user who wrapped SCT commands within Matlab. In any case, I strongly recommend you always u

[2021-07-28 06:04] rixez opened #448 "Missing negative sign in MT-SPGR equation"
Hello, and thank you for the awesome qMR library! I was reading through the codes of qMT and it seems like the equation for the A matrix is missing a negative sign: https://github.com/qMRLab/qMRLab/blob/ccea5bd6454b1ca464bdd4686dcfbb5b368d7b74/src/Models_Functions/SPGRfun/functions/SPGR_Srp_fun.m#L80
## Expected Behavior

Following the convention in the qMTLab paper and Sled 2000 (jmre.2000.2059),

[2021-07-28 11:03] agahkarakuzu commented on #448
Thank you so much @rixez for pointing out this issue! We will look into this quickly.

@mathieuboudreau are you available for reviewing this quick fix?

[2021-07-28 11:21] spinicist commented on #448
Hello,

@rixez how big is the discrepancy between the ODE solution and the analytic equation?

The analytic solution includes a minus sign inside the exponential on the very next line: https://github.com/qMRLab/qMRLab/blob/ccea5bd6454b1ca464bdd4686dcfbb5b368d7b74/src/Models_Functions/SPGRfun/functions/SPGR_Srp_fun.m#L81

Have you tried adding the proposed minus signs and seeing what happens to the

[2021-07-28 12:58] mathieuboudreau commented on #448
I'll look into the code/paper this morning. Will get back to you ASAP.

[2021-07-28 14:12] mathieuboudreau commented on #448
Ok, so I went through the derivation of the equations again, and I have one conclusion and one hypothesis,

## Conclusion

I agree with @rixez that the matrix **A** in our code is the negative of the matrix that can be derived from the equations currently in the Sled2000 paper.

## Suspicion

I suspect that there may be a typo in equation A1 of  the Sled2000 paper. There is a negative missing in f

[2021-07-28 15:08] mathieuboudreau commented on #448
I fit the sample data with the original implementation (currently in master branch) and also by making A12 and A0 negative.

## Original implementation

<img width="803" alt="Screen Shot 2021-07-28 at 11 35 12 AM" src="https://user-images.githubusercontent.com/1421029/127345751-d209ee46-c1c5-4f3c-9ef7-e65f5f9dbd6b.png">

## With A-parameters changed to negative values

<img width="803" alt="Screen

[2021-07-28 16:42] spinicist commented on #448
Hi @mathieuboudreau

I'm also surprised that inverting the matrices doesn't change the fitting more. But it looks like there is an upper bound of 500 ms on T2_f? I guess if that bound was removed it would go even higher and mess the maps up more? Regardless, those values of T2_f are clearly wrong.

I think the important thing is to focus on is that dMz/dt = -R1 Mz + R1 M0. The way I look at the cu

[2021-07-28 17:20] mathieuboudreau commented on #448
Thanks a lot of your insights @spinicist. I've worked out the case of simple relaxation as you suggested, and it convinced me that the current implementation in our code is correct. See below

![Doc1](https://user-images.githubusercontent.com/1421029/127367725-1b15ac78-a858-481e-9ec6-79e7ba6272f6.png)

[2021-07-28 17:25] mathieuboudreau commented on #448
As for your last point,

I think there is a slight misunderstanding (or miscommunication on our part). I believe what we call the analytic solution is actually the analytical approximation solution to the equations which also uses ODEs get the solution (if I recall, we use ODEs to get intermediate solutions, e.g. the free precession and continuous wave segments of the equations); it is how Sled de

[2021-07-28 17:48] mathieuboudreau commented on #448
@rixez please chime in to confirm if our explanations make sense to you and you agree with them.

[2021-07-29 00:58] rixez commented on #448
Thank you @mathieuboudreau, @spinicist for the discussion! After looking at the paper and playing with the codes a bit more, I agree with @mathieuboudreau comment that there is a typo in the Sled2000 paper. It wouldn't make sense with the negative sign in the exponential with the formula in the Sled paper as the `expm(-At)` term would blow up if t -> inf. I think the implementation in qMRLab is co

[2021-07-29 00:58] #448 closed

[2021-07-29 01:38] mathieuboudreau commented on #448
Excellent! This was a fun discussion; thanks for bringing this apparent discrepancy to our attention @rixez. And also thanks @spinicist for jumping into the discussion and sharing your great insights.

[2021-09-14 14:31] AlexMorello opened #449 "Unrecognised Function or Variable ‘vfa_t1’"
Hello, devs,

I’m trying to compute T1 maps for a set of NIfTIs as per https://qmrlab.readthedocs.io/en/master/vfa_t1_batch.html. However, the error persists, that is regardless of the code itself. Any suggestions are very much appreciated!

[2021-09-14 17:47] mathieuboudreau commented on #449
Hi @AlexMorello,

Could you confirm the MATLAB version that you're using, and that you followed the [installation instructions](https://qmrlab.readthedocs.io/en/master/install.html) (all the way to running the `startup` command inside the folder, which add the subfolders to the MATLAB path).

If so, are you able to run either `qMRLab` and/or `qMRLabVer`?

[2021-09-16 17:44] AlexMorello commented on #449
Bonjour, Matthieu,

I now am. Figured out how to launch the GUI, too. Trying to feed the data into it yields the following: ‘Protocol has: 2 rows. And input volume VFAData has 1 frames.’

[2021-09-16 18:09] mathieuboudreau commented on #449
Great!

To know more about the expected data format, I recommend you download the demo data through the GUI, and copy the format of the data we've provided. This sounds like your different flip angles are not included in the dataset you're trying to load (in the 4th/time dimension); i.e., you might be trying to load a single flip angle instead of both flip angles. If you need further help to figur

[2021-09-16 18:15] AlexMorello commented on #449
Hello, Matthieu,

Thank you very much for responding so promptly! I’ve got a bunch of T1 VIBE’s (NIfTI) acquired at different flip angles. Now, I need to create a fit for the dataset using the VFA technique.

[2021-09-16 18:32] mathieuboudreau commented on #449
Hi Alex,

Do you have FSL installed? If so, I think you can use `fslmerge -t outfile infile1 infile2` to concatenate NIfTI images in the time (fourth) dimension, and then load that output file into qMRLab.

You can download our demo data (https://osf.io/7wcvh/) and compare the format of `VFAData.nii.gz` (e.g. using `fslinfo file` on both.

[2021-09-18 10:49] AlexMorello commented on #449
Done! May you please take a look at the output? It comprises two series acquired at 2 and 3 degrees respectively. The TR was set to 2.1 ms.

https://drive.google.com/drive/folders/13x50n6p_BH23kB2g2qji3t4Z7IYs8UPk?usp=sharing

[2021-09-25 17:50] mathieuboudreau commented on #449
Hi @AlexMorello,

Thanks for sharing your results.

The maps don't look that good to me.

<img width="888" alt="Screen Shot 2021-09-25 at 2 48 54 PM" src="https://user-images.githubusercontent.com/1421029/134781203-81102f64-b183-4676-be0c-cbc66ce34e75.png">

I don't know what your sample is, but a lot of spacial variations.

The first two things that pop out to me are 1) did you use a B1 map, and

[2021-09-25 18:23] mathieuboudreau opened #450 "b0_dem model not working for 3D data"
I encountered this error while helping an external user that had 3D data.

After downloading our demo data, I copied the singleton slice (in third dimension) so that it would now have two slices:

[code]

I then saved them, and loaded them into our GUI and tried to fit the data. This is the error that occurred.

[code]

I tried briefly understanding how this error happened, but am unable to figure

[2021-10-13 03:57] agahkarakuzu opened #451 "Struct field conflict on exporting uncorrected maps"
![image](https://user-images.githubusercontent.com/9632322/137064458-cc945c8a-fea2-408f-aa58-951edfd1a587.png)

@jvelazquez-reyes we also have [simulation tests](https://dev.azure.com/neuropoly/qMRLab/_build/results?buildId=1424&view=logs&j=1854c763-fba6-56d2-6006-ca56e339d521&t=4781830f-296f-5976-880f-a6b921719dfe) running. It expects outputs to be the same (with what is saved) after modification

[2021-10-13 20:57] agahkarakuzu commented on #449
### Option-1 using `FitResults.mat`

![image](https://user-images.githubusercontent.com/9632322/137210983-7a08e893-e83f-40ac-bac7-8ee6f86f3c97.png)

With `vfa_t1` selected, click `Load Results` and point to `FitResults.mat`

### Option-2 Drag-drop a nii image on MATLAB's command window

Our 3D viewer will recognize the file and open it. It has all the ROI tools:

![image](https://user-images.githu

[2021-10-13 21:05] AlexMorello commented on #449
I see! You folks are geniuses; thank you very much indeed!

[2021-10-14 05:36] agahkarakuzu commented on #451
Thanks for the latest changes @jvelazquez-reyes ! Looks like we have a test assertion failure for the `mp2rage`:

https://dev.azure.com/neuropoly/qMRLab/_build/results?buildId=1429&view=logs&j=c0e85002-b1bf-5d85-fa22-e1a871bbe3f3&t=428b0824-fd2f-5ea3-6a04-e0b334ebc4e5&l=2533

It complains that there is some change (exceeding 5%) for R1 after the latest changes pushed to the codebase. Can you look

[2021-10-14 13:50] jvelazquez-reyes commented on #451
I will take a look.

[2021-10-14 17:58] agahkarakuzu commented on #451
Here's some tips for you @jvelazquez-reyes

If you do the following (in a directory that is not qMRLab):

[code]

it will give you the script and data used in CI test. If you run `mp2rage_batch`, you will get the same error we saw on Azure.

### Reason:

In the example dataset we have B1map, so in the previous versions The fields `R1` and `T1` were corrected maps. Now in the presence of a `B1map`

[2021-10-14 20:30] jvelazquez-reyes commented on #451
@agahkarakuzu thanks for this detailed review. I was suspecting it had to do with those mappings you mentioned.

I think everything is covered from the task list. It would only remain to check the CIs tests after updating the example datasets.

Ah, and please show me how to update those example datasets on OSF.

[2021-10-29 13:51] mathieuboudreau opened #454 "All ReadTheDocs builds failing"
This is a RTD issue affecting other projects, see:
* https://github.com/neuropoly/axondeepseg/issues/576
* https://github.com/ivadomed/ivadomed/issues/973

[2021-11-05 16:28] acrispinsmith opened #456 "GUI issues"
## Expected Behavior
Using the GUI spgr, I should be able to view images, process regions of interest, and undo markings or highlights.

## Actual Behavior
Sometimes the images will not appear.
When they do, I can select regions of interest but the red highlighter stopped working and the 'undo' command is not working.
If I click 'fit data' it starts, but remains at zero (left it on for an hour).

[2021-11-05 16:32] agahkarakuzu commented on #456
Hi @acrispinsmith, thank you for reaching out!

There were some GUI compatibility issues with the new matlab versions, and we addressed some of them (after `v2.4.1`). These changes are on the master branch, and you can download from [here](https://github.com/qMRLab/qMRLab/archive/refs/heads/master.zip).

Can you let us know if this resolves your issue?

[2021-11-05 16:33] agahkarakuzu commented on #456
Can you also confirm that you refer to `qmt_spgr` ?

[2021-11-05 16:34] agahkarakuzu commented on #451
These issues have been resolved, thanks @jvelazquez-reyes !

[2021-11-05 16:34] #451 closed

[2021-11-05 16:35] agahkarakuzu commented on #449
This issue has been resolved.

[2021-11-05 16:35] #449 closed

[2021-11-05 16:38] acrispinsmith commented on #456
Hi @agahkarakuzu,

Thank you for responding so quickly!
Yes ,I am referring to qmt_spgr.
I just downloaded the zip, I will let you know how it goes.

[2021-11-05 16:43] agahkarakuzu commented on #429
https://qmrlab.readthedocs.io/en/master/known-issues.html#apple-silicon-m1-compatibility

[2021-11-05 16:43] #429 closed

[2021-11-05 17:00] acrispinsmith commented on #456
Hi @agahkarakuzu,

I am having the same issues with 2.4.2.

[2021-11-05 17:03] agahkarakuzu commented on #456
@acrispinsmith is the issue GUI related, or `If I click 'fit data' it starts, but remains at zero (left it on for an hour).`

Are you using parallelization option (GUI should ask you if you have parallel computing toolbox installed)?

[2021-11-05 17:21] acrispinsmith commented on #456
@agahkarakuzu I haven't seen any messages regarding parallelization nor do I have the package downloaded. But I will do that next. Will it automatically use the option if I install the toolbox?

[2021-11-05 17:23] agahkarakuzu commented on #456
It will ask you whether you'd like to use. Please also make sure that you have `optimization` and `image processing` toolboxes installed.

[2021-11-05 17:51] acrispinsmith commented on #456
@agahkarakuzu  Alright its past 30%! I can process now thank you! Though I am still having some issues with the GUI itself in terms of highlighting regions of interest and undoing actions. But, if I can process everything at once I no longer need the GUI. Thank you very much!

[2021-11-05 17:55] agahkarakuzu commented on #456
That's great @acrispinsmith! For GUI issues, sometimes we really need to align MATLAB and OS version to be able to debug what's going on, and this probably is one of those cases given the error traceback.

If you have no more questions, I will be closing the issue.

Have a great day!

[2021-11-05 17:57] #456 closed

[2021-11-28 09:52] zqily opened #457 "Add DKI method?"
Can we add the DKI method? This is very important in research, hope to get your help

[2021-12-07 06:29] rixez opened #458 "qMT bSSFP data preprocessing"
Dear qMRLab development team,

Thank you for the excellent work. This is more like a question rather than an issue. I have been playing with the demo qMT bSSFP data and was just wondering how did you preprocess the raw data from the scanner or dicom file (mostly regarding normalization) to get this data?

Thank you!

[2022-01-18 19:30] AlexMorello commented on #440
Same question!

[2022-01-18 19:59] agahkarakuzu commented on #440
For T1 mapping, I suggest these [blog posts](https://qmrlab.org/blog.html).

As for `T2`, e.g., for the `mono_t2` model:

![image](https://user-images.githubusercontent.com/9632322/150007783-85a8731e-ab48-4ee1-9fa0-ae7ded6c5060.png)

You can run single voxel curve simulation for the TEs shown on the protocol panel to fit data simulated for T2/M0 values you set:

![image](https://user-images.github

[2022-01-18 20:07] agahkarakuzu commented on #440
For relaxometry measurements, having a ground truth is the most convenient. If you have a range of T1/T2 reference values, then you can look at percent error to see if your protocol is acceptable.

If not, one way is to check how data was fitted to the model per voxel (there's a sanity check section on the GUI). Although this gives an overall information about the appropriateness of the fit, not a

[2022-01-19 03:45] zrazi commented on #440
Thank you Agah,
Would you elaborate more on the Stability of the measurements? Do you mean
reproducibility over time?
One challenge that I have with the qMRLab is to prepare my images to be
suitable as input. I understand it should be 4D (row, col, slices, the
inversion times). Is that right?
Thank you for your help
Warmly,
Zahra

On Tue, Jan 18, 2022 at 3:07 PM Agah ***@***.***> wrote:

[2022-01-19 15:45] agahkarakuzu commented on #440
As for stability, you could say that reproducibility over time. More common terms are reliability/consistency/agreement. As it is quite common in the literature intraclass correlations would be a good start, [this article](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6645485/) is insightful for that. Again, it depends on your experimental design and what you'd like to achieve.

Have you seen the [

[2022-01-19 16:18] zrazi commented on #440
Thank you for the links you provided.
I download DICOM file from the Visage. A tool would make my life much
easier and I would be so really thankful. Would the Mask be derived from
the same database too?
Yours,
Zahra

On Wed, Jan 19, 2022 at 10:46 AM Agah ***@***.***> wrote:

[2022-01-19 16:54] agahkarakuzu commented on #440
Can you send me a set of example files via email, I can quickly come up with something for you.

For mask, only volumetric dimensions should match (e.g., [10x1] TI, [128,128,2,10] IRData, [128,128,2] mask)

[2022-01-19 17:21] zrazi commented on #440
This scan was only one slice, 11 TI. Can you please kindly make the mask
too and let me know how you do it?

On Wed, Jan 19, 2022 at 11:54 AM Agah ***@***.***> wrote:

[2022-01-19 17:47] agahkarakuzu commented on #440
I think you replied to the comment via email with an attachment, but they don't show up here. You'll need to send it to my address, I think you have it.

[2022-01-20 02:17] zrazi commented on #440
Agah,
I emailed you my images :)

On Wed, Jan 19, 2022 at 12:47 PM Agah ***@***.***> wrote:

[2022-01-21 07:12] agahkarakuzu commented on #440
@zrazi

1. Create a new matlab script with the following code and save it as `dicom2ir.m`.
2. Make sure that qMRLab is added to your path
3. Run the code, and select **multiple** DICOM files (as many TIs as you want) and confirm

The code will:
* sort and merge files according to TI
* create two masks for your phantom using simple morphometry, one binary and one indexed
* fit data using merged vol

[2022-01-26 14:58] AlexMorello opened #459 "Exporting T1 Values"
Dear devs,

May I ask how the values obtained by placing the ROI markers in qMRLab are exported? I need to fit the T1 and T2 data in MATLAB, but am kind of confused where I should begin.

Thanks a lot in advance!

[2022-01-27 10:32] AlexMorello commented on #459
Up

[2022-01-31 12:51] AlexMorello opened #462 "Fitting Data 0% No CPU Load"
Dear Agah and Matthieu,

I'm trying to fit some T2 images acquired at different _TE_s. To that end, I've t-merged a test batch of 5 _TE_s using _fslmerge_, set up a protocol in _qMRLab_, and entered the _TE_ values into it. Yet when I begin the procedure, the progress bar never moves beyond 0%. No CPU load is registered by Linux, either. It's as if the computer were actually idle instead. Here's [

[2022-01-31 14:11] mathieuboudreau commented on #462
Have you successfully tested the method using the demo data we provide?

[2022-01-31 15:38] AlexMorello commented on #462
Sorry, pushed the wrong button and closed the issue by mistake. I can't seem to download the demo batch, though. The folder remains empty and 0 bytes in size. It may be caching the data elsewhere first, so I'll let it spin for a while.

[2022-01-31 17:27] AlexMorello commented on #462
The output reads as follows:

'Error using downloadData (line 53)
Data cannot be downloaded: Could not establish a secure connection to "osf.io". The reason is
"error:14090086:SSL routines:ssl3_get_server_certificate:certificate verify failed". Check your
certificate file (/home/alex/MATLAB/sys/certificates/ca/rootcerts.pem) for expired, missing or
invalid certificates.'

[2022-02-01 09:51] AlexMorello commented on #462
Guys, I've attempted it on another computer to absolutely no avail :( @mathieuboudreau @agahkarakuzu

[2022-02-01 12:44] mathieuboudreau commented on #462
It seems your internet or computer is having difficulty downloading the dataset via MATLAB. You can download it directly via a web browser here: https://osf.io/kujp3/

There, you'll find a demo dataset and expected fit results. qMRLab should be able to fit this dataset. When you fit your own dataset, you should try to format your data as close as possible to this demo dataset (i.e. order the volum

[2022-02-01 13:13] AlexMorello commented on #462
Thanks - figured that out, got the demo batch, and closed the issue. It works as expected, yet I cannot quite do the same with my own dataset. Moreover, I cannot compute the B1+ map for my T1 batch, either. I'm using these two files (FA = [35](https://drive.google.com/file/d/1KF736-i6ErV2NqaRhgSifb8qfCOLQ3LX/view?usp=sharing) and [70](https://drive.google.com/file/d/1-3SIPH-bTF1y6dbBsqsHvQkT4yvRel

[2022-02-01 16:47] AlexMorello opened #463 "Computing B1+ Fails"
So I cannot compute the B1+ map for my T1 batch. I'm using these two files (FA = [35](https://drive.google.com/file/d/1KF736-i6ErV2NqaRhgSifb8qfCOLQ3LX/view?usp=sharing) and [70](https://drive.google.com/file/d/1-3SIPH-bTF1y6dbBsqsHvQkT4yvRel9g/view?usp=sharing) degrees, respectively) as per the method. What I get is precisely this:

[code]

Could you guys please shed some light onto what's going

[2022-02-01 16:47] #462 closed

[2022-02-01 16:54] AlexMorello opened #464 "Question about T2 Fitting"
I do apologise in advance for being so stubborn, @agahkarakuzu and @mathieuboudreau , but I seriously need to get this to work. Attempting to process a freshly merged (time-dimension-concatenated in _fsl_) batch of [five T2-weighted images](https://drive.google.com/file/d/1251FolTxIruRbr1zNySIDVaypIuelV4J/view?usp=sharing) of a spherical phantom acquired at different TE (4.92, 7.38, 9.84, 12.3, an

[2022-02-01 17:44] agahkarakuzu commented on #464
![image](https://user-images.githubusercontent.com/9632322/152021780-f0773dca-3cfb-40d2-8acb-06a603fd4f20.png)

I used the data and TEs to fit a T2 map, ~180ms for the sample. Which qMRLab version are you using? This was an old bug which was resolved.

[2022-02-01 18:09] AlexMorello commented on #464
Hmm - it's 2.4.1. Seems to be the current version. I've tested it on two computers.

[2022-02-01 18:28] agahkarakuzu commented on #464
Can you try using [this version](https://github.com/qMRLab/qMRLab/archive/refs/heads/master.zip) and see if it resolves the issue?

[2022-02-01 18:40] AlexMorello commented on #464
Doing that now. By the way, attempting the same in the CLI yields this error:

[code]

[2022-02-01 18:47] agahkarakuzu commented on #464
Can you please give me a more complete information about how are you running into a problem? Are you using a script, if so can you share that script? Or are you using GUI etc.

[2022-02-01 18:56] AlexMorello commented on #464
2.4.**1**.:  GUI on the first attempt, then tried to do the same the CLI way.
2.4.**2**. (thought 2.4.1 was current): GUI yields this:

[code]

[2022-02-01 18:59] agahkarakuzu commented on #464
So using GUI, you got a T2 map. Those warnings are normal, it is using multicores and informing you that there are not solution for some voxels (background).

If you have no further issues I am closing the issue.

[2022-02-01 19:01] AlexMorello commented on #464
...using GUI with the version you supplied - which is the true current one, I suppose?

[2022-02-01 19:01] agahkarakuzu commented on #464
...yes

[2022-02-01 19:03] #464 closed

[2022-02-01 19:03] AlexMorello commented on #464
Got it! I'll now attempt to do the B1+ mapping I referenced in another issue, and will report on that afterwards.

[2022-02-01 19:14] AlexMorello commented on #463
@agahkarakuzu Have just attempted this using version 2.4.2.; the output hasn't changed. Manually loading the images reveals they are identical arrays:

[code]

[2022-02-01 19:18] agahkarakuzu commented on #463
I have no way to piece together what is going on without knowing the steps you are following.

* Please use bullet points
* to guide us through the steps you follow
* so that we can identify the issue and help you.

[2022-02-01 19:54] agahkarakuzu commented on #463
Are you trying to fit a T1 map, or a B1 map?

If you read the documentation for [double angle B1 mapping](https://qmrlab.readthedocs.io/en/master/b1_dam_batch.html) you will see that you need to provide images separately to calculate a B1+ map. It should be also obvious from the GUI:

![image](https://user-images.githubusercontent.com/9632322/152041001-b2d34bfb-4e84-4f94-9cd6-df13b9121afd.png)

Pl

[2022-02-01 20:13] agahkarakuzu commented on #463
![image](https://user-images.githubusercontent.com/9632322/152043760-82686d7f-8afc-449d-8a28-a9f6e3bbbeb3.png)

It should be like this. Make sure that the order of alpha/2alpha order is correct and provide alpha only.

![image](https://user-images.githubusercontent.com/9632322/152043994-46a93ffa-3047-4672-bc99-6fc670ef0005.png)

[2022-02-01 20:30] AlexMorello commented on #463
Sorry :( I guess it's getting late over here. Pasted it and didn't notice it soon enough.

[2022-02-01 20:51] agahkarakuzu commented on #463
No worries. With only one FA (lower FA) set in the protocol panel as the screenshot above shows, you should be able to get an output.

[2022-02-01 21:01] AlexMorello commented on #463
Thanks! I think the problem was I had made a mistake naming one of the files; namely, the 35 degree image was, in fact, a 30-degree one (checked the corresponding original DICOM). So now, I don't seem to have a 2xalpha to proceed with :( The sequence is as follows: 2,3,5,20,30,70,85.

[2022-02-01 21:33] AlexMorello commented on #463
Here's the batch:
[62_t1_vibe_tra_caipi4_FA10_air_20210326185539.nii.gz](https://github.com/qMRLab/qMRLab/files/7982061/62_t1_vibe_tra_caipi4_FA10_air_20210326185539.nii.gz)

[2022-02-01 21:50] agahkarakuzu commented on #463
If you can make it work, I guess the rest is up to how you are setting up your imaging protocol, sequence choice and all.

Unless there are other issues concerning the use of qmrlab, feel free to close the issue.

Thanks for reaching out!

[2022-02-01 22:04] AlexMorello commented on #463
Got it! I'll try it a few more times and close the issue if it works.

[2022-02-15 10:29] agahkarakuzu commented on #440
@zrazi the script below works the same way, but for the `mono_t2` model for T2 mapping:

[code]

* Create a new matlab script with the following code and save it as `dicom2monot2.m`.
* Make sure that qMRLab is added to your path
* Run the code, and select multiple DICOM files (as many TEs as you want) and confirm

[2022-04-29 19:24] jcohenadad opened #466 "Issue running the Jupyter notebook on T1-mapping VFA"
I'm trying to run [this notebook](https://qmrlab.org/jekyll/2018/12/11/T1-mapping-variable-flip-angle.html) in myBinder, and I observe the following issue:

![image](https://user-images.githubusercontent.com/2482071/166054827-868deda4-5ff4-4e79-9d87-5aeab699ec56.png)

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
1.
1.
1.

## Context (Environment)

## D

[2022-04-29 19:29] jcohenadad commented on #466
maybe related to this?
![image](https://user-images.githubusercontent.com/2482071/166057143-c12bdd32-0258-4cbf-a1f5-722ef233ca59.png)

[2022-04-29 19:39] agahkarakuzu commented on #466
@mathieuboudreau looks like yet another all env described line by line in a Dockerfile issue.

We should fetch 98% of these dependencies from a base qmrlab docker image that's stable and not subjected to binderhub's time-dependent repo2docker build instabilities. What do you think?

[2022-04-29 19:57] mathieuboudreau commented on #466
@jcohenadad I'm on my phone right now, but as a temprorary alternative I recommend you use the Jupyter Book version of this content (http://qmrlab.org/t1_book/01/vfa_blog/VFA_SignalModelling.html), which is more up to date and the MyBinder notebooks appear to be working as expected.

Obtenir Outlook pour Android<https://aka.ms/AAb9ysg>
________________________________
From: Julien Cohen-Adad ***@*

[2022-04-29 20:38] jcohenadad commented on #466
Thank you for your reply, Mathieu. indeed, I started there, but then I wanted to actually modify the plots (show the ratio of the WM and GM evolution curves) in the context of the MRI course I am giving, so for that I need to be able to edit and run the code

[2022-04-29 20:44] mathieuboudreau commented on #466
@jcohenadad in the jupyter book link I shared, there is a "Launch Binder" button at the top of each page, and clicking that will open that notebook in a MyBinder session where you can edit and run the code.

Obtenir Outlook pour Android<https://aka.ms/AAb9ysg>
________________________________
From: Julien Cohen-Adad ***@***.***>
Sent: Friday, April 29, 2022 5:38:50 PM
To: qMRLab/qMRLab ***@***.***

[2022-04-29 21:02] jcohenadad commented on #466
oh! I see, i thought that link would bring me to the book, but it does not. This is awesome! thank you so much. I was in the middle of recreating a notebook and struggling with dependencies, octave conversion to python, etc. 😅

[2022-04-30 00:26] mathieuboudreau commented on #466
Great! Let me know if you need a hand with anything else re: my notebook/binder/whatever

[2022-04-30 14:10] mathieuboudreau commented on #466
@jcohenadad I fixed the original issue in this PR https://github.com/qMRLab/t1_notebooks/pull/23. I think the issue stemmed from very (very) old versions of pip/setuptools inside the docker image, which couldn't resolve some of the dependencies correctly after a rebuild the last time that MyBinder cleared their cache.

@agahkarakuzu I agree that considering these notebooks are "completed", I could

[2022-04-30 14:10] #466 closed

[2022-04-30 14:15] mathieuboudreau commented on #466
p.s. thank you so much for alerting me that the builds were broken @jcohenadad ! 🙏

[2022-04-30 14:18] agahkarakuzu commented on #466
We can set CRAN tasks to send automated binderhub build requests if you want (e.g. once a week), so it'll notify when something goes wrong.

[2022-04-30 14:52] mathieuboudreau commented on #466
Great idea! I think though that even that wouldn't have catched this problem ; one of the pip install fails but the build continued and finished "succesfully", which is why Julien was able to get inside the notebook on the mybinder session even though it was broken :/

[2022-05-21 03:11] mathieuboudreau opened #469 "MTsat model: Add MTR as an output"
This should be quit simple to implement, and would be quite useful as many users looking into MTsat are likely interested in also computing MTR for comparison / to report.

[2022-05-21 05:01] agahkarakuzu commented on #469
Only possible when TRs are matching, and should not pop up a dialog box to ask whether the user would like to calculate mtr.

I think an options panel checkbox that becomes available when PDw MTw TRs match.

Happy to review the pr if you'd like to implement.

[2022-05-23 16:06] jvelazquez-reyes commented on #469
Let me implement it if @mathieuboudreau has not done it yet.

[2022-05-25 12:36] mathieuboudreau commented on #469
Sounds good @jvelazquez-reyes ! I hadn't touched it yet

[2022-07-04 16:21] mathieuboudreau opened #473 "Release 2.5.0 milestones"
Version 2.4.1 was released in September 2020. We should probably setup milestones for the next major release 2.5

https://github.com/qMRLab/qMRLab/releases

[2022-07-04 16:21] mathieuboudreau commented on #473
@agahkarakuzu should we do a release before or after the BIDS integration? What are your thoughts?

[2022-07-04 20:04] agahkarakuzu commented on #473
This will be the summer project :) I'll refactor and improve.

[2022-11-20 11:13] jayaddison commented on #380
:wave: Hello - I was searching around to see what MRI-related open source projects exist, and generally when I'm looking at any project I tend to see what bugs are open and whether there's anything I can do to contribute.

In this case I don't have access to Matlab, but I did search/browse around the code a bit and have a _guess_ that the relevant code may be: https://github.com/qMRLab/qMRLab/blob